body{
	background-image: url('/sampleweb/images/ummah.jpg');
	background-repeat: no-repeat;
	box-sizing: border-box;
	background-attachment: cover;
	background-position: 50% 50%;
	

}
.container{
	background-color: #777;
	max-width: 400px;
	height: 350px;
	margin-top: 150px;
	border-radius: 20px;

}
input{
	width: 100%;
}
.btn-block {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 20px;	
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}